# Lab Assignment 2 - Tom Lewis-Evans

## Student code: 200012357

### Github repositry: https://github.com/TomLE14/PY4SA23_Assignment.git

## Assignment tasks

##### Task 1: Create an If...Else statement that will test whether a number is divisible by three. 
"YOUR VALUE is divisible by 3" should be printed if the value is divisible by three. "YOUR VALUE is not
divisible by three" should be printed if it is not divisible by three. Test the statement on a numeric
variable. Upper case text in the print statement should be replaced with the tested number.

In [19]:
x = 5
if x % 3 == 0:
    print(str(x) +  " is divisible by 3")
elif x % 3 != 0:
     print(str(x) + " is not divisble by 3.")

5 is not divisble by 3.

##### Task 2: Create an If...Else statement that will test whether a type of fruit, represented as a text string,is in a list of acceptable fruits (apple, orange, pear, kiwi, or strawberry). 

If the fruit is on the list, the following should be printed: "YOUR FRUIT is acceptable." If not, then the following should be printed: "YOUR FRUIT is not acceptable." Upper case text in the print statement should be replaced
with the tested fruit.

In [97]:
Fruits = ["apple", "orange", "pear", "kiwi", "strawberry"]
item = "banana"
if item in Fruits:
    print(item + " is acceptable")
else:
    print(item + " is not acceptable")

banana is not acceptable

##### Task 3: Create a function to calculate the distance between two coordinates using the haversine formula. 

Write the following formula where the input parameters are a pair of coordinates as two
lists.

In [28]:
import haversine as hs

In [55]:
from math import radians, cos, sin, asin, sqrt
# Python 3 program to calculate Distance Between Two Points on Earth
from math import radians, cos, sin, asin, sqrt
def distance(lat1, lat2, lon1, lon2):
     
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)
     
     
# driver code
lat1 = 41.89193
lat2 = 55.953251
lon1 = 12.51133
lon2 = -3.188267
print(distance(lat1, lat2, lon1, lon2), "KM")

1929.5061074750681 KM

### Pandas and Numpy Tasks

##### This exercise focuses on the use of Pandas to query and summarise data. You will need to import the NumPy and Pandas libraries.

Produce code to answer the questions below. Deliver your results
in a Jupyter Notebook. Make sure all questions and answers are clearly labelled.
The portland_park_trees.csv file contains information about individual trees in city parks in
Portland, Oregon. These data were obtained from the City of Portland Office of Parks &
Recreation (https://www.portlandoregon.gov/parks/article/433143).

In [3]:
import numpy as np
import pandas as pd

In [4]:
trees_df = pd.read_csv("portland_park_trees.csv", sep=",", header=0, encoding="ISO-8859-1")
trees_df.head(10)

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
5,6,431,2017/05/09,PSME,32.1,Fair,95.0,35.0,39.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
6,7,432,2017/05/09,PSME,28.4,Fair,103.0,40.0,40.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
7,8,433,2017/05/09,PSME,27.2,Fair,105.0,45.0,29.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
8,9,434,2017/05/09,PSME,35.2,Fair,97.0,56.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
9,10,435,2017/05/09,PSME,32.4,Fair,112.0,35.0,33.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

##### Question 1: How many trees are of the Quercus or Acer Genus?

In [122]:
subset_query = trees_df.query('Genus == "Acer" or Genus == "Quercus"')
print(len(subset_query))

5675

##### Question 2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [124]:
subset_query2 = trees_df.query('Genus == "Acer" or Genus == "Quercus" and DBH > 50')
print(len(subset_query2))

3666

##### Q3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [165]:
subset_query3 = trees_df.query('Genus == "Acer" or Genus == "Quercus" or Genus == "Fraxinus"')
subset_query3.groupby("Genus")['DBH'].mean()

Genus
Acer        18.419085
Fraxinus    11.033610
Quercus     23.568238
Name: DBH, dtype: float64

##### Question 4: How many different species of trees are recorded in the Acer genus?

In [39]:
subset_query4 = trees_df[(trees_df["Genus"]=="Acer")]
trees_df.columns = [column.replace(" ", "_") for column in trees_df.columns]
subset_query5 = pd.DataFrame()
subset_query5["Count"] = subset_query4.groupby("Species")['Genus'].count()
print(len(subset_query5))

20

##### Question 5:
• Calculate a new column named "pop_M" (population in millions), by transforming the
"pop" (population) column.

• Remove the original "pop" column.

• Choose/subset a city that starts with the same letter as your first name (for example,
"Mexico City" if your first name is Michael).

• Subset the five biggest (i.e., largest population sizes) cities from the country where your
selected city is.

• Print the result.

• Make sure you write the scripts in different code cells where you describe the process.

### Python Data Visualisation

##### Graph 1: 

Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis
and tree height mapped to the y-axis (Hint: You will need to use the “Genus”, “DBH”, and
“TreeHeight” attributes.).

##### Graph 2: 
Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis, tree
height mapped to the y-axis, and tree species mapped to hue (Hint: You will need to use the
“Genus”, “Genus_spec”, “DBH”, and “TreeHeight” attributes.)

##### Graph 3: 
Create a boxplot of DBH for just the Ulmus genus differentiated by species (or, each species
should have its own boxplot).

##### Graph 4: 
Combine Graphs 1 and 3 into a single figure. Do not plot a legend for any of the graphs.

### Python GeoPandas

##### Task 1: Read the selected dataset as GeoPandas DataFrame

##### Task 2: Use the correct code to plot the first 5 and the last 5 sets of records in your selected dataset

##### Task 3. Create a map where you can explore the selected dataset. Try to plot the map using some categorical attribute. Include a ToolTip.

##### Task 4. What is the Coordinate Reference System of the selected dataset?

##### Task 5. How many features does the selected dataset contain?

##### Task 6. Define a sub-setting criterion to create a new geopandas dataframe where you filter the
selected dataset based on a categorical attribute.

##### Task 7. Define a sub-setting criterion to create a new geopandas dataframe where you filter the selected dataset based on a numerical attribute

##### Task 8. Plot the new/filtered geopandas dataframe using one of the attributes to create a choropleth map.

### Python Rasterio

##### Task 1. Read the file as a rasterio dataset

##### Task 2: What is the CRS of the dataset?

##### Task 3: Describe the raster dataset regarding the raster extent (bounds), the reference system, and how many bands are in this dataset.

##### Task 4: Create a plot/map of the raster dataset.

##### Task 5: Create Histograms from the raster.